<!doctype html>
<head>
	<title>Hello from Flask</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/group.css">
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
	<script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>{{ group['name'] }}</h1>
				{% block content1 %} {{chart1|safe}} {% endblock %}
				{% block content2 %} {{chart2|safe}} {% endblock %}
				<table class="table">
					<tr>
						<td></td>
						{% for member in members.keys() %}
						<td class="data-cell">
							<img class="group-avatar" src="{{ members[member][0] if members[member][0] else 'https://i.groupme.com/300x300.png.e8ec5793a332457096bc9707ffc9ac37.avatar' }}" title="{{ members[member][1] }}">
						</td>	
						{% endfor %}
					</tr>
					{% for member1 in members.keys() %}
					<tr>
						<td class="data-cell"><img class="group-avatar" src="{{ members[member1][0] if members[member1][0] else 'https://i.groupme.com/300x300.png.e8ec5793a332457096bc9707ffc9ac37.avatar' }}" title="{{ members[member1][1] }}"></td>
						{% for member2 in members.keys() %}
							<td class="data-cell">{{ likes[member2][member1] }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
				<button class="btn btn-primary" id="delete">Delete</button>
			</div>
		</div>
	</div>
	<div style="display:none" class="loader">
		<div class="spinner"></div>
	</div>
	<script type="text/javascript">
		$('.media-left, .media-body').click( function() {
			$('.loader').show();
		});
		$('#delete').click( function() {
			$.get('/delete/{{ group["id"] }}')
		})
	</script>
</body>